<h2>
    Payment Rules Management
</h2>
<h3>
    Policy
</h3>
<body>
    Techademy employees will have a fixed compensation stack i.e.,the component name and the framework of the<br> compensation stack is pre-defined.The amount per aomponent can vary from person to person depending on one's total compensation.
<p></p>
    <p>The diffrent components of the Total compensation is mentioned below in detail</p>
</body>

<h3>
    Basic Slary
</h3>
<body>
    The Basic salary would be as per competency and as per Techademy Guidelines from time to time.The amount will be paid monthly and is taxable.


    <h3>
        House Rent Allowance(HRA)
    </h3>
    An HRA component is paid to help Techademy Employees meet a part of full expenditure for accomodation.This amount will be paid <br>monthly and will be eligible for tax excemption as per income tax regulations of the corresponding year.

    <h3>
        Insurance
    </h3>
    The insurance amount is a premium paid towards Medicalinsurance Benifits.

    <h3>
        Profident Fund
    </h3>
    
        Provident Fund(PF) is a statutory contribution under the social security scheme.Apart from the regular PF contribution,<br>Techademy employees willing to contribute additionally may do so using the voluntary Provident Fund(VPF) process
</body>
