
<div class="container my-5">
    <h1 class="mb-3">Edit Leave </h1>
    <div class="row">
        <div class="col-6">
        <form #form="ngForm" (ngSubmit)="updateLeave">
            <div class="mb-3">
                <label for="id" class="form-label">Leave Id</label>
                <input type="number" class="form-control" id="id" readonly
                name="id"[(ngModel)]="requestleave.id">
              </div>
              <div class="mb-3">
                <label for="leaveType" class="form-label">Leave Type</label>
                <input type="text" class="form-control" id="leaveType" 
                name="leaveType"[(ngModel)]="requestleave.leaveType">
              </div>
              <div class="mb-3">
                <label for="when" class="form-label">When</label>
                <input type="date" class="form-control" id="when" 
                name="when"[(ngModel)]="requestleave.when">
              </div>
              <div class="mb-3">
                <label for="leaveReason" class="form-label">Leave Reason</label>
                <input type="text" class="form-control" id="leaveReason" 
                name="leaveType"[(ngModel)]="requestleave.leaveType">
              </div>
            <button type="submit" class="btn btn-success" (click)="updateLeave()">Save</button>
            <button type="button" class="btn btn-danger"(click)="deleteLeave(requestleave.id)">Delete</button>
          </form>  
                      
        </div>
    </div>
</div>