
<nav>
   
    <ul>
        
        <li><a href="/employeedetails">Employee Details</a></li>
        <li><a href="/getdesignation">Designation</a></li>
        <li><a href="/getallworkinghours">Working Hours</a></li>
        <li><a href="/getallleaves">Leave Management</a></li>
        <li><a href="/paymentrules">Payment Rules</a></li>
        
    </ul>
</nav>

<div class="container my-5">
    <h1 class="mb-3">Employee Details</h1>
    <div class="center-dialog-vertically">
    <a class="btn btn-sm text-white btn-primary"  [routerLink]="['/addemployee']">Add Employee &nbsp;<i class="bi bi-bag"></i></a>

</div>
    
<div class="container mt-5">
    <div class="form-group float-end text-right">
        
            <input type="text" name="Search" [(ngModel)]="searchText" placeholder="Search by ID,Name,Email">
       
    </div>
</div>
<div>
    <p>

    </p>
</div>

<div class="container">
    <div>
        <h3>Show  <select (change)="onTableSizeChange($event)">
            
            <option *ngFor="let size of tablesize">
               {{size}}
            </option>
        </select> Entities </h3>
       
    </div>

    <table class="table table-bordered" *ngIf="EmployeeDetails && EmployeeDetails.length > 0">
        <thead class="bg-dark text-white">
            <tr>
            <th>S.No</th>
            <th>Employee Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Email</th>
            <th>Designation ID</th>
            <th>Designation Name</th>
            <th>Role Name</th>
            <th>Department Name</th>
            <th>Member Since</th>
            <th style="text-align:center" width="50%">View</th>
            <th style="text-align:center">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of EmployeeDetails |filter:searchText | paginate:{itemsPerPage:tableSize,
                currentPage:page,
                totalItems:count}; let i=index;let j=index;">
                <td>{{j+1}}</td>
                <td>{{emp.employeeID}}</td>
                <td>{{emp.employeeName}}</td>
                <td>{{emp.gender}}</td>
                <td>{{emp.mobileNumber}}</td>
                <td>{{emp.address}}</td>
                <td>{{emp.email}}</td>
                <td>{{emp.designationID}}</td>
                <td>{{emp.designationName}}</td>
                <td>{{emp.roleName}}</td>
                <td>{{emp.departmentName}}</td>
                <td>{{emp.memberSince}}</td> 
            <td style="text-align:center"><a class="btn btn-sm text-white btn-primary" style="margin:5px" [routerLink]="[emp.employeeID]">Edit &nbsp;<i class="bi bi-bag"></i></a>
            </td><td><a class="btn btn-sm text-white btn-danger" style="margin:5px" [routerLink]="[emp.employeeID]">Delete &nbsp;<i class="bi bi-bag"></i></a></td>
          
       
            </tr>
        </tbody>
    </table>
    <div>
    </div>
        <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"></pagination-controls>
    </div>

    <p *ngIf="!EmployeeDetails || EmployeeDetails.length<=0">No Employees found</p>
</div>