<div class="container my-5">
    <h2>Leave Status</h2>
</div>
<div class="container my-5">
    
    <table class="table table-bordered" *ngIf="LeaveStatus && LeaveStatus.length > 0">
        <thead class="bg-dark text-white">
            <tr>
            <th>ID</th>
            <th>Status</th>
            <th style="text-align:center">Action</th>   
            

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of LeaveStatus">
            <td>{{emp.id}}</td>
            <td>{{emp.status}}</td>

                <td style="text-align:center"><a class="btn btn-sm text-white btn-primary" style="margin:5px"[routerLink]="[emp.id]">View &nbsp;<i class="bi bi-bag"></i></a>
            <a class="btn btn-sm text-white btn-danger" style="margin:5px" [routerLink]="[emp.id]">Delete &nbsp;<i class="bi bi-bag"></i></a></td>
        </tr>
    </tbody>
</table>
<p *ngIf="!LeaveStatus || LeaveStatus.length<=0">No records found for Designation</p>
</div>