<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Techademy Employee Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
         
            
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" 
              routerLink="/employeedetails">Employee Detailes </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" 
              routerLink="/getdesignation">Designation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" 
              routerLink="/getallworkinghours">Workinghours</a>
            </li>
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Leave Management
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item " aria-current="page" routerLink="/addleave">Request Leave</a></li>
                  <li><a class="dropdown-item " aria-current="page" routerLink="/getstatus">Leave Status</a></li> 
                  <li><a class="dropdown-item " aria-current="page" routerLink="/getallleaves">All Leave Data</a></li> 
                   
                </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" 
                routerLink="/paymentrules">Payment Rules</a>
              </li>
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" 
            routerLink="/profile">Profile</a>
          </li>
        </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>