
<div class="container my-5">
    <h1 class="mb-3">Working Hour Management</h1>
    
<div class="container">
    <div class="center-dialog-vertically">
    <a class="btn btn-sm text-white btn-primary"  [routerLink]="['/addworkinghours']">Add Working Hours &nbsp;<i class="bi bi-bag"></i></a>
</div>
</div>
    
<div class="container mt-5">
    <div class="form-group float-end text-right">
        
            <input type="text" name="Search" [(ngModel)]="searchText" placeholder="Search by ID">
       
    </div>
</div>
<div class="container">
    <div>
        <h3>Show  <select (change)="onTableSizeChange($event)">
            
            <option *ngFor="let size of tablesize">
               {{size}}
            </option>
        </select> Entities </h3>
       
    </div>
    
    <table class="table table-bordered" *ngIf="Workinghours && Workinghours.length > 0">
        <thead class="bg-dark text-white">
            <tr>
                <th>S.No</th>
                <th>ID</th>
                <th>Employee ID</th>
                <th>companyWokingHours</th>
                <th>employeeWorkingHours</th>
                <th>View</th>
                <th>Delete</th>
            
            

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of Workinghours |filter:searchText | paginate:{itemsPerPage:tableSize,
            currentPage:page,
            totalItems:count}; let i=index;let sr=index">
            <td>{{sr+1}}</td>
            <td>{{emp.id}}</td>
            <td>{{emp.employeeID}}</td>,
            <td>{{emp.companyWokingHours}}</td>
            <td>{{emp.employeeWorkingHours}}</td>
            <td><a class="btn btn-sm text-white btn-primary"  [routerLink]="[emp.id]">View &nbsp;<i class="bi bi-bag"></i></a></td>
            <td><a class="btn btn-sm text-white btn-danger"  [routerLink]="[emp.id]">Delete &nbsp;<i class="bi bi-bag"></i></a></td>
            </tr>
    </tbody>
</table>
<pagination-controls
previousLabel="Prev"
nextLabel="Next"
(pageChange)="onTableDataChange($event)"></pagination-controls>
</div>
<p *ngIf="!Workinghours || Workinghours.length<=0">No records found</p>
</div>

        