<div class="container my-5">
    <h1 class="mb-3">Add Leave </h1>
    <div class="row">
        <div class="col-6">
        <form #form="ngForm" (ngSubmit)="addLeave()">
            <div class="mb-3">
                <label for="leaveType" class="form-label">Leave Type</label>
                <input type="text" class="form-control" id="leaveType"
                name="leaveType"[(ngModel)]="request.leaveType">
              </div>
              <div class="mb-3">
                <label for="when" class="form-label">When</label>
                <input type="date" class="form-control" id="when"
                name="when"[(ngModel)]="request.when" >
              </div>
              
              <div class="mb-3">
                <label for="leaveReason" class="form-label">Leave Reason</label>
                <input type="text" class="form-control" id="leaveReason"
                name="leaveReason"[(ngModel)]="request.leaveReason" >
              </div>
            <button type="submit" class="btn btn-success">Save</button>
          </form>  
                      
        </div>
    </div>
</div>
<app-home></app-home>