<div class="container my-5">
    <h1 class="mb-3">Edit Designation </h1>
    <div class="row">
        <div class="col-6">
        <form #form="ngForm" (ngSubmit)="updateDesignation">
            <div class="mb-3">
                <label for="designationID" class="form-label"> Designation Id</label>
                <input type="number" class="form-control" id="designationID" readonly
                name="designationID"[(ngModel)]="designation.designationID">
              </div>
              <div class="mb-3">
                <label for="designationName" class="form-label">Designation Name</label>
                <input type="text" class="form-control" id="designationName" 
                name="designationName"[(ngModel)]="designation.designationName">
              </div>
              <div class="mb-3">
                <label for="roleName" class="form-label">Role Name</label>
                <input type="text" class="form-control" id="roleName" 
                name="roleName"[(ngModel)]="designation.roleName">
              </div>
              <div class="mb-3">
                <label for="departmentName" class="form-label">Department Name</label>
                <input type="text" class="form-control" id="departmentName" 
                name="departmentName"[(ngModel)]="designation.departmentName">
              </div>
           
          
            <button type="submit" class="btn btn-primary" (click)="updateDesignation()">Save</button>
            <button type="button" class="btn btn-danger"(click)="deleteDesignation(designation.designationID)">Delete</button>
          </form>  
                      
        </div>
    </div>
</div>