
#wrapper{
    width: 100%;
    height: 400px;
    border: 2px solid #000;
}
btn{
    height: 20px;
    position:relative;
    margin: -20px -50px;
    width: 100px;
    top: 50%;
    left: 50%;

}
.center-dialog-vertically{
    height: 100%;
    text-align: center;
}
nav 
{
    background-color:black;
    
    padding: 40px;
}
nav ul{
    float: right;
    list-style-type: none;
}
ul li{
    display: inline-block;
    padding: 10px;
}
li a{
    color: white;
    cursor: pointer;
    

}