

<nav>
    <ul>
        <li><a href="/employeedetails">Employee Details</a></li>
        <li><a href="/getdesignation">Designation</a></li>
        <li><a href="/getallworkinghours">Working Hours</a></li>
        <li><a href="/getallleaves">Leave Management</a></li>
        <li><a href="/paymentrules">Payment Rules</a></li>
    </ul>
</nav>
<div class="container my-5">
    <h1 class="mb-3">Payment Rules</h1>
    <div>
        

        <h4 class="text-center"> <a class="btn btn-sm text-white btn-primary" [routerLink]="['/addpaymentrules']">Add New Rule  &nbsp;<i class="bi bi-bag"></i></a> </h4>
    </div>
    <div class="table" *ngIf="PaymentRulesDetails && PaymentRulesDetails.length > 0">
        <ol type="1">
            <div *ngFor="let rules of PaymentRulesDetails">
                
                <li><p>{{rules.paymentRule}}            
                    <a [routerLink]="[rules.paymentID]">Edit / Delete</a></p>
               </li>
               
            </div>
        </ol>
    </div>
    <p *ngIf="!PaymentRulesDetails || PaymentRulesDetails.length<=0">No PaymentRulesDetails found</p>
</div>