<div class="container my-5">
    <h2 class="text-center">Request Leave Management</h2>
</div>
<div class="card-header"></div>
<div class="container my-5">
    
    <table class="table table-bordered" *ngIf="RequestLeave && RequestLeave.length > 0">
        <thead class="bg-dark text-white">
            <tr>
            <th>S.No</th>
            <th>ID</th>
            <th>Leave Type</th>
            <th>When</th>
            <th>Leave Reason</th>
            <th>View</th>   
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of RequestLeave;let sr = index">
            <td>{{sr+1}}</td>
            <td>{{emp.id}}</td>
            <td>{{emp.leaveType}}</td>
            <td>{{emp.when}}</td>
            <td>{{emp.leaveReason}}</td>
            
            
            <td><a class="btn btn-sm text-white btn-primary"[routerLink]="[emp.id]">View</a></td>
            <td><a class="btn btn-sm text-white btn-danger" [routerLink]="[emp.id]">Delete</a></td>
        </tr>
    </tbody>
</table>

<p *ngIf="!RequestLeave || RequestLeave.length<=0">No records found for Designation</p>
</div>